In [39]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [40]:
# Cabeçalho para requisição
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36'
}

In [45]:
# URL utilizada para requisição
url = 'https://www.fundsexplorer.com.br/ranking'
response = requests.get(url, headers=headers) # realizando a requisição

# Verifica se a requisição foi bem sucedida
if response.status_code == 200:
    # processa o conteúdo HTML
    soup = BeautifulSoup(response.text, 'html.parser') 
    # Exemplo: Encontrar uma tabela específica
    table = soup.find('table')  # Procura a primeira tabela no HTML

In [46]:
table = pd.DataFrame(table)
table

                                                   0
0                                                 \n
1  [\n, [\n, [Fundos], \n, [Setor], \n, [Preço At...
2                                                 \n
3  [\n, [\n, [], \n, [], \n, [], \n, [], \n, [], ...
4                                                 \n